@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Lütfen aşağıdan giriş yapın veya yeni bir hesap için <a href="/register">kaydolun</a></h3>

<EditForm Model="user" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="form-group">
        <label id="username">Kullanıcıadı</label>
        <InputText id="username" @bind-Value="user.Username" class="form-control"></InputText>
        <label id="password">Şifre</label>
        <InputText id="password" @bind-Value="user.Password" class="form-control" type="password"></InputText>
    </div>
    <button type="submit" class="btn btn-primary">Giriş yap</button>
    <ValidationSummary />
</EditForm>

@code {
    bool isAuthenticated = false;
    private UserLogin user = new UserLogin();

    private async void HandleLogin()
    {
        await LocalStorage.SetItemAsync<bool>("isAuthenticated", true);
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }

}
