@inject IBananaService BananaService
@implements IDisposable

<AuthorizeView>
    <Authorized>
        <div class="top-menu">
            <img src="/icons/banana.png" />
            <span class="popover-header">
                @BananaService.Bananas
            </span>
            <AddBananas />
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            <NavLink href="Login">Giriş</NavLink> |
            <NavLink href="Register">Kayıt ol</NavLink> 
        </div>
    </NotAuthorized>

</AuthorizeView>

@*

StateHasChanged: Her değer değiştiğinde sayfanın tekrar render edilmesini sağlar.
Disbose: Arka planda çalışmasını engeller. (Bellekten atar)
*@

@code {
    protected override void OnInitialized()
    {
        BananaService.OnChange += StateHasChanged;
    }
    public void Dispose()
    {
        BananaService.OnChange -= StateHasChanged;
    }


}


