@page "/login"

<h3>Login</h3>

<EditForm Model="user" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="form-group">
        <label id="username">Kullanıcıadı</label>
        <InputText id="username" @bind-Value="user.Username" class="form-control"></InputText>
        <label id="password">Şifre</label>
        <InputText id="password" @bind-Value="user.Password" class="form-control" type="password"></InputText>
    </div>
    <button type="submit" class="btn btn-primary">Giriş yap</button>
    <ValidationSummary />
</EditForm>

@code {
    private UserLogin user = new UserLogin();

    private void HandleLogin()
    {
        Console.WriteLine($"{user.Username} - {user.Password}");
    }
}
